$base: #dca39f;
/*$neon: darken($base, 20%);*/
$neon: red;
@mixin center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro{
	background: #272727;
	min-height: 100vh;
	@include center;
	.i-1{
		background: $base;
		width: 50%;
		min-height: 50%;
		border-radius: 5px;
		/*border: 2px solid darken($base, 40%);*/
		padding-bottom: 20px;
		@media only screen and (max-width: 600px)  {
			margin-left: 10px;
			margin-right: 10px;
			padding-left: 5px;
			padding-right: 5px;
			width: 90%;
		}
		h1{
			text-align: center;
			color: #fff;
			font-weight: bold;
			margin-top: 10px;
		}
		.image{
			width: 100%;
			@include center;
			img{
				width: 250px;
			}
		}
		

	}
	.i-2{
			background: $base;
			width: 50%;
			min-height: 60vh;
			border-radius: 5px;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			@media only screen and (max-width: 600px)  {
				width: 90%;
			}
			.game{
				display: flex;
				align-items: center;
				justify-content: center;
				/*margin-top: 20px;*/
				margin-bottom: auto;
				.bloc{
					background: #c0c0c0;
					width: 100%;
					height: 100%;
					@include center;
					border-radius: 5px;
					border: 1px solid #898989;
					img{
						width: 40px;
						height: 40px;
					}
					&:active{
				    	 transition: all 1s ease-in-out;
						transition-duration: 0.5s;
    
					}

				}
			}
			.end{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				
				h3{
					
				}
				h1{
				  color: #fff;
				  font-size: 1.4rem;
				  text-align: center;
				  font-size: 1.8rem;
				  margin-bottom: 5px;
				  margin-top: 10px;
				}
				
				h2{
				  color: #fff;
				  font-size: 1.2rem;
				  text-align: center;
				  font-weight: 400;
				  margin-top: 0;
				}
				.btn{
					margin-bottom: 5px;
					margin-top: 5px;
				}
				.heart{
				  color: #fff;
				  font-size: 1.4rem;
				  text-align: center;
				  font-size: 1.8rem;
				  font-weight: bold;
				  -webkit-animation: glow 2s ease-in-out infinite alternate;
				  -moz-animation: glow 2s ease-in-out infinite alternate;
				  animation: glow 2s ease-in-out infinite alternate;
				}

				@keyframes glow {
					from {
					    color: #fff;
					    text-shadow: 0 0 5px $neon, 0 0 10px $neon, 0 0 15px $neon, 0 0 20px $neon, 0 0 25px $neon, 0 0 30px $neon, 0 0 35px $neon, 0 0 40px $neon;
					}
					to {
					    color: #dfe1e5;
					    text-shadow: 0 0 10px $neon, 0 0 15px $neon, 0 0 20px $neon, 0 0 25px $neon, 0 0 30px $neon, 0 0 35px $neon, 0 0 40px $neon, 0 1 45px $neon;
					}
				}
				
				img{
					width: 200px;
					margin-top: 50px;
				}

				.coracoes{
					position: absolute;
					height: 300px;
					width: 35%;
					margin-top: 100px;
					@media only screen and (max-width: 600px) {
						height: 350px;
						width: 90%;
						margin-top: 55px;
					}
				}
			}
			
		}	
}




.center{
	@include center;
	text-align: center;
}


.row{
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/*margin-right: -15px;
	margin-left: -15px;*/
}


.col{
	flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
}
.col-3{
	max-width: 33.33%;	
	flex-basis: 33.33%;
	padding: 0;
	height: 100px;
	/*margin-bottom: 30px;*/

	@media only screen and (max-width: 600px) {
		height: 50px;
	}
}
.col-2{
	max-width: 50%;	
	flex-basis: 50%;
	padding: 0 0;
	height: 100px;

	@media only screen and (max-width: 600px) {
		height: 50px;
	}
}
.col-4{
	max-width: 25%;	
	flex-basis: 25%;
	padding: 0;
	height: 100px;
	/*margin-bottom: 30px;*/

	@media only screen and (max-width: 600px) {
		height: 50px;
	}
}
.col-5{
	max-width: 20%;	
	flex-basis: 20%;
	padding: 0;
	height: 100px;
	/*margin-bottom: 30px;*/

	@media only screen and (max-width: 600px) {
		height: 50px;
	}
}
.col-7{
	max-width: 14.28%;	
	flex-basis: 14.28%;
	padding: 0;
	height: 100px;
	/*margin-bottom: 30px;*/

	@media only screen and (max-width: 600px) {
		height: 50px;
	}
}
.col-8{
	max-width: 12.5%;	
	flex-basis: 12.5%;
	padding: 0;
	height: 100px;
	/*margin-bottom: 30px;*/

	@media only screen and (max-width: 600px) {
		height: 50px;
	}
}
.col-6{
	max-width: 16.66%;	
	flex-basis: 16.66%;
	padding: 0;
	height: 100px;
	/*margin-bottom: 30px;*/

	@media only screen and (max-width: 600px) {
		height: 50px;
	}
}
.break {
  width: 100%;
  min-height: 1px;
  
}
.modif-3{
	width: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	@media only screen and (max-width: 600px)  {
				width: 80%;

	}
}
.modif-1{
	width: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	@media only screen and (max-width: 600px)  {
				width: 50%;

	}
}
.modif-4{
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	@media only screen and (max-width: 600px)  {
				width: 90%;

	}
}
.btn{
			border-radius: 5px;
			border: 0;
			background: darken($base, 20%);
			color: #fff;
			min-height: 40px;
			min-width: 150px;
			font-size: 1.1rem;
			/*border: 2px solid darken($base, 40%);*/
			cursor: pointer;
			width: 90%;
			

			&:hover{
				/*border: 2px solid darken($base, 25%);*/
				background: darken($base, 30%);
				color: #fff;
			
			}

			
		}



.bloc-selected{
	background: #555555;
	width: 100%;
	height: 100%;
	@include center;
	border-radius: 5px;
	border: 1px solid #898989;
	-ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
	transform: rotateY(-360deg);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	transform-style: preserve-3d;
	backface-visibility: hidden;
  
    img{
    	animation-name: animacao;
    	animation-duration: 1.6s;
  		animation-timing-function: ease;
		width: 0;
	}
	
}		

@keyframes animacao {
   from {
      width: 40px;
      height: 40px; 
   }
   to { 
      width: 0px;
	  height: 0;
   }
}


@keyframes fundo{
   from {
     background: #c0c0c0;
   }
   to { 
      background: #555555;
	
   }
}
