$base: #dca39f;
/*$neon: darken($base, 20%);*/
$neon: #48a5d1;
@mixin center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro{
	background: #272727;
	min-height: 100vh;
	@include center;
	.i-1{
		background: $base;
		width: 50%;
		min-height: 50%;
		border-radius: 5px;
		/*border: 2px solid darken($base, 40%);*/
		padding-bottom: 20px;
		@media only screen and (max-width: 600px)  {
			margin-left: 10px;
			margin-right: 10px;
			padding-left: 5px;
			padding-right: 5px;
			width: 90%;
		}
		h1{
			text-align: center;
			/*color: darken($base, 40%);*/
			/*color: $base;
			text-shadow: 2px 2px #80342f;*/
			color: #fff;
			font-weight: bold;
		}
		.image{
			width: 100%;
			@include center;
			img{
				width: 200px;
			}
		}
		.btn{
			border-radius: 5px;
			border: 0;
			background: darken($base, 20%);
			color: #fff;
			min-height: 40px;
			min-width: 150px;
			font-size: 1.1rem;
			/*border: 2px solid darken($base, 40%);*/
			cursor: pointer;
			width: 90%;
			

			&:hover{
				/*border: 2px solid darken($base, 25%);*/
				background: darken($base, 30%);
				color: #fff;
			
			}

			
		}

	}
	.i-2{
			background: $base;
			width: 50%;
			min-height: 60vh;
			border-radius: 5px;
			padding: 5px;
			@media only screen and (max-width: 600px)  {
				width: 90%;
			}
			.game{
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 20px;
				margin-bottom: auto;
				.bloc{
					background: #c0c0c0;
					width: 50px;
					height: 50px;
					@include center;
					border-radius: 5px;
					border: 1px solid #898989;
					img{
						width: 40px;
						height: 40px;
					}
				}
			}
			.end{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				
				h3{
					
				}
				h1{
				  color: #dfe1e5;
				  font-size: 1.4rem;
				  text-align: center;
				  font-size: 1.8rem;
				  -webkit-animation: glow 2s ease-in-out infinite alternate;
				  -moz-animation: glow 2s ease-in-out infinite alternate;
				  animation: glow 2s ease-in-out infinite alternate;
				  
				}
				@keyframes glow {
					from {
					    color: #fff;
					    text-shadow: 0 0 5px $neon, 0 0 10px $neon, 0 0 15px $neon, 0 0 20px $neon, 0 0 25px $neon, 0 0 30px $neon, 0 0 35px $neon, 0 0 40px $neon;
					}
					to {
					    color: #dfe1e5;
					    text-shadow: 0 0 10px $neon, 0 0 15px $neon, 0 0 20px $neon, 0 0 25px $neon, 0 0 30px $neon, 0 0 35px $neon, 0 0 40px $neon, 0 1 45px $neon;
					}
				}
				
				img{
					width: 200px;
					margin-top: 50px;
				}
			}
			
		}	
}




.center{
	@include center;
	text-align: center;
}


.row{
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/*margin-right: -15px;
	margin-left: -15px;*/
}
.col{
	flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
}
.break {
  width: 100%;
  min-height: 1px;
  
}